<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>Offre.ejs</h1>
</body>
<% if (offre !== '') { %>
<ul>
  <% offre.forEach((user)=>{ %>
  <li> <%= user.prix %> </li>
  <li> <%= user.date_depart %> </li>
  <li> <%= user.date_retour %> </li>
  <li> <%= user.aeroport_depart %> </li>
  <li> <%= user.aeroport_arriver %> </li>
  <hr>
  <% }); %>
  <% } %>

</ul>
<a href="logout" class="btn btn-secondary">Logout</a>


</html>