<h1>Offre.ejs</h1>
</body>
<% if (offre !== '') { %>
<ul>
  <% offre.forEach((offre)=>{ %>
  <li> <%= offre.prix %> </li>
  <li> <%= offre.date_depart %> </li>
  <li> <%= offre.date_retour %> </li>
  <li> <%= offre.aeroport_depart %> </li>
  <li> <%= offre.aeroport_arriver %> </li>
  <li> <%= offre.airline %> </li>
  <li> <%= offre.place %> </li>
  <a href="offre/<%= offre.id %>">choisir</a>
  <hr>
  <% }); %>
  <% } %>

</ul>
<a href="logout" class="btn btn-secondary">Logout</a>