<h1>Offre</h1>
<% if (offre !== '') { %>
<ul>

  <li> <%= offre.prix %> </li>
  <li> <%= offre.date_depart %> </li>
  <li> <%= offre.date_retour %> </li>
  <li> <%= offre.aeroport_depart %> </li>
  <li> <%= offre.aeroport_arriver %> </li>

  <hr>

  <% } %>

</ul>

<h1>User</h1>
<% if (user !== '') { %>
<ul>

  <li> <%= user.name %> </li>
  <li> <%= user.email %> </li>
  <li> <%= user.number %> </li>


  <hr>

  <% } %>

</ul>